node_modules/
.env
*.log
.DS_Store
.CFUserTextEncoding
.gitconfig
.codex/
.claude/
.local/
.npm/
.ollama/
.omnissa/
.zsh_history
.zsh_sessions/
.zshrc
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
jira_hours_report.sh
jira_report.html